@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column !important;
    justify-content: flex-start !important;
  }

.ipCard {
    width: 200px !important;
    font-size: 0.5rem;
  }

  .countryCard {
  width: 300px !important;
}

  .leaflet-container {
    display: flex !important;
    flex-direction: column !important;
    height: 400px !important;
    width: 75% !important;
  }

  :where(.css-1vr7spz).ant-card .ant-card-meta-title {
    font-size: 1.5rem !important;
  }

  :where(.css-1vr7spz).ant-card .ant-card-meta-description {
    font-size: 0.75rem !important;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  background-image: url("./assets/waterfall.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

* {
font-family: 'Roboto';
}

:where(.css-1vr7spz).ant-card .ant-card-meta-description {
  color: white;
  font-size: 1rem
}
:where(.css-1vr7spz).ant-card .ant-card-meta-title {
  color: white;
  font-size: 3rem;
}